p {
	text-align: justify;
	text-justify: auto;
	margin: 0px 0px 5px 0px;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

pre {
	margin:2px;
	
}

h1{
	margin: 0px 5px 15px -50px;
	border-left: solid 10px antiquewhite;
	padding-left: 10px;
}

h2, h3, h4 {
	margin: 10px 0px 5px 0px;
}

.inverse h1{
	border-left: 0px;
}

.title-slide {
  background-image: url('images/tidy_tiles.png');
  background-size: 25%;
  background-position: 85% 10%;
}

.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
  padding: 10px;
}

.right-column {
  width: 50%;
  float: right;
  padding: 10px;
}

.footnote {
	font-size: 10px;
	font-style: italic;
}

.remark-slide-number {
    bottom: 12px;
    opacity: .5;
    position: absolute;
    right: 20px;
    font-size: 20px;
    font-style: italic;    
    font-family: 'Yanone Kaffeesatz';
}

/* H1 fonts */
.title-slide h1 {
  font-size: 72px;
}

/* H2 fonts */
.title-slide h2 {
  font-size: 24px;
}

/* H3 fonts */
.title-slide h3 {
  font-size: 16px;
}

